body{
    background: #000;
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: 80px;
    border: 1px solid #ccc;
    padding: 0 5px;
}