<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        {{ info }}
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // const axios = require('axios');

        axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')
            .then(function (response) {
                // let data = JSON.parse(response);
                console.log(eval(response));
            })
            .catch(function (error) {
                console.log(error);
            });
            // .then(function () {
            //     // always executed
            // });
        // new Vue({
        //     el: '#app',
        //     data() {
        //         return {
        //             info: null
        //         }
        //     },
        //     mounted() {
        //         axios
        //             .get('https://api.coindesk.com/v1/bpi/currentprice.json')
        //             .then(response => (this.info = response))
        //     }
        // })
    </script>
</body>

</html>